@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

 .header p{
    font-family: cursive;
    font-size: large;
    color: white;
}

.header{
    background-color:rgb(56, 108, 139);
   display: flex;
   flex-direction: row;
   align-items: center;

}

.logo p{
    margin: 5px;
    font-size: xx-large;
    
}

.navbar{
display: flex;
flex-direction: row;
justify-content: center;
margin: auto;
}

.navbar div{
    margin-left: 10px;
    margin-right: 10px;
}

.nav-divider{
    border-right: 2px solid rgb(116, 116, 200);
    height:30px;
    margin-top: 20px;
}

/* dropdown menu*/

.nav-dropdown{
    position: relative; 
    display: inline-block;
}

.nav-dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(56, 108, 139);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-dropdown-content p {

  color:white;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: left;
}


/* Change color of dropdown links on hover */
.nav-dropdown-content p:hover {background-color: #2c285e;}

/* Show the dropdown menu on hover */
.nav-dropdown:hover .nav-dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.nav-dropdown-button:hover {background-color: #2c285e;}